:root {
  --black-color: #000000;
  --white-color: #ffffff;
  --highlight-color: #ff3b30;
  --black-graphite-color: #1c1c1e;
  --medium-gray-color: #39393c;
  --light-gray-color: #d1d1d6;
}

body {
  font-family: "Nata Sans", sans-serif;
  background-color: #1c1c1e;
  color: white;
}

